<div class="body__container">
  <div class="o-card c-breadcrumbs__card">
    <h3 class="t1">Lease</h3>
    <span class="c-breadcrumbs">
      <span class="s-small-normal">
          <span class="c-breadcrumbs__link">Lease</span>  <span class="c-breadcrumbs__divider">/</span>
      </span>

      <span class="s-small-medium">
            Lease Details
      </span>
    </span>
  </div>

  <div class="lease-page__header">
    <div>
      <div class="m-form-field m-search-field u-mr-10">
        <div class="m-form-field__field">
          <div class="m-form-field__field-item m-search-input">
            <input autocomplete="off" class="m-form-field__input" type="text" placeholder="Search here">
          </div>
        </div>
      </div>
    </div>

    <button class="a-btn a-btn--primary" style="height: 44px" routerLink="./lease/create"
            (click)="navigateToLeaseCreatePage()"> + Create Lease</button>

  </div>

  <div class="lease-page__body">
    <div class="leave-type__user--dto  div__wrapper_table">

      <table class="c-kriyo-deta__table tbl__uti_vs_emp">
        <thead class="c-kriyo-deta__table--header">
        <tr>
          <th>Lease ID</th>
          <th>Vehicle Number</th>
          <th>Lessee Name</th>
          <th>Contact Number</th>
          <th>Outstanding Amount</th>
          <th>Next Payment Date</th>
        </tr>
        </thead>

        <tbody class="c-kriyo-deta__table--body tbody__leave_vs_emp c-pending__leave--body">
        <tr>
          <td>LS23213</td>
          <td>UF-7129</td>
          <td>Hewa Desea</td>
          <td>0774415321</td>
          <td>912321</td>
          <td>21/04/2024</td>
        </tr>
        <tr>
          <td>LS23213</td>
          <td>UF-7129</td>
          <td>Hewa Desea</td>
          <td>0774415321</td>
          <td>912321</td>
          <td>21/04/2024</td>
        </tr>
        <tr>
          <td>LS23213</td>
          <td>UF-7129</td>
          <td>Hewa Desea</td>
          <td>0774415321</td>
          <td>912321</td>
          <td>21/04/2024</td>
        </tr>
        <tr>
          <td>LS23213</td>
          <td>UF-7129</td>
          <td>Hewa Desea</td>
          <td>0774415321</td>
          <td>912321</td>
          <td>21/04/2024</td>
        </tr>

        </tbody>
      </table>
    </div>

  </div>

</div>
